/.gradle/
/.classpath
/.metadata
/.project
/.settings
/bin/
/build/
/conf/
/data/
/db/psql/db.config
/src/main/dist/conf/mentor.xml
/src/main/dist/conf/jdbc.properties
/src/main/dist/conf/jetty.xml
/src/main/dist/conf/logback.xml
/src/main/java/hr/vsite/mentor/Sandbox.java
/work/
/gradle.properties
/gradle-app.setting
